* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
 .wrapper {
 	width: 90%;
 	margin: 0 auto;
}
h2 {
	text-align: center;
	margin: 50px auto;
	font-size: 20px;
}
h3 {
	padding-top: 10px;
	font-size: 16px;
	margin-bottom: 10px;
}

.col {
		padding: 20px;
}
.btn-success {
    color: #fff;
    background: green;
}
.btn-simple {
	border-bottom: 1px dashed #000;
	color: #000;
}
 .important-col {
	border-radius: 5px;
}
fieldset {
	border: 1px solid #000;
}
.form-group {
	padding-bottom: 20px;
}